* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    outline:none;
    border:none;

}

@font-face {
    font-family: 'Product Sans Regular';
    src: url("Product\ Sans\ Regular.ttf"); /* IE9 Compat Modes */
}

body {
   font-family: 'Product Sans Regular';
}
container {
    width: 200px;
    height: 100%;
    margin: 0 auto 0;
    perspective: 1000;
    backface-visibility: hidden;
    background: #fff;
  }
  /* pulsing */
  .pulse-button {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 1.3em;
    font-weight: light;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    background: #5a99d4;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
    -webkit-animation: pulse 1.5s infinite;
  }
  .pulse-button  :hover {
    -webkit-animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
      @include transform(scale(.9));
    }
    70% {
      @include transform(scale(1));
      box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
    }
      100% {
      @include transform(scale(.9));
      box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
    }
  }
.status{
    display:none;
}
.navigation-bar>p{
    display:none;
}

.container {
  background:#fdfeff;
  background-image: url("/laundry-washly-master/img/Groups.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 60%;
  padding: 0 1.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.container.is-search-results {
    height: auto;
    min-height: 100vh;
    overflow: auto;
    display: block;
    background-image: none;
}

.container.is-search-results .navigation-bar {
    position: fixed;
    left: 0;
    right: 0;
    background: #fdfeff;
    z-index: 5;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 1280px;
    width: 100%;
    position: fixed;
    top: 0;
}
.navigation-title {
    color: #5170FD;
    font-size: 30px;
}
.navigation-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.navigation-content a {
    display: block;
    text-decoration: none;
    padding: .5rem 0;
    margin: 0 2rem;
    color: #000;
}
.navigation-content a:hover {
    border-bottom: 3px solid #5170FD;
}
.navigation-content a:last-of-type {
    color:#5170FD;  
}
.navigation-content a:last-of-type:hover {
    border-bottom: 3px solid #000000;
}

.navigation-content button {
    background: #5170FD;
    border-radius: 4px;
    color:white;
    text-align: center;
    padding: .75rem 2rem;
    min-width: 135px;
    margin-left: 2rem;
}
.navigation-content button:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 3px 12px 0 rgba(0, 0, 0, 0.1);
}


.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.search-container h2 {
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.4;
}

.search-input {
    display: flex;
    align-items: center;
    min-height: 40px;
    border-radius: 10px;
    margin-top: 2rem;
    width: 100%;
    color:black;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
}

.search-input:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.search-input i {
    position: absolute;
    right: 1rem;
    color:#5170FD;
}
.blue-text {
    letter-spacing: 100;
    color:#5170FD;
}
.input-text {
   width: 100%;
   height: 100%;
   min-height: 40px;
   padding: 0 3rem 0 1rem;
   border-radius: 10px;
   border: none;
   outline: none
}
.search-container button {
    background: #5170FD;
    border-radius: 4px;
    color:white;
    text-align: center;
    padding: .75rem 2rem;
    min-width: 135px;
    margin-top: 2rem;
} 
.search-container-button:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 3px 12px 0 rgba(0, 0, 0, 0.1);
}
.terms {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    color:black;
    font-size: 12px;
    position: absolute;
    bottom: 1rem;
}

.terms li {
    padding: .5rem 1rem;
    cursor: pointer;
}
.terms a:hover{
  color:#5170FD;
}
.copyright-logo{
    padding-right: 5px;
    font-size: 26px;
    
}
.copyright-text{
    padding-top: -25px;
}
.pic{
    display: flex;
    justify-content: space-between
}

.pic img {
    max-width: 250px;
    height: auto;
    position: fixed;
    bottom: 0;
}
.pic.blurred {
    opacity: .5;
}
.picture1{
    left: 0;
}
.picture2{
    right: 0;
    min-height: 200px;
}

.dot{
    font-weight: bolder;
}

.second-navigation-content{
    display: flex;
  justify-content: space-between;
  width:220px;
  font-size: 18px;
padding-top: 35px;
margin-top: -18px;
margin-left: 10px;
}
.second-navigation-content>p{
    font-size: 16px;
    margin-top: 7px;
}
.second-navigation-content>p:hover{
    margin-bottom: 15px;
    border-bottom:3px solid #5170FD;
}
.navigation-user-name{
    margin-left:120px;
    margin-top: 23px;
}


/* Search Results */
.search-results-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 95px 1.5rem 0;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 3rem 0 0 ;
    position: relative;
    z-index: 3;
}

.resultCards {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    width: calc(25% - 25px);
    min-height: 250px;
    margin-bottom: 2rem;
    margin-left:1rem;
    border-radius: 8px;
    position: relative;
    background-color: white;
}

.resultCards-image {
    height: 125px;
}

.resultCards-image img {
    width: 100%;
    height: 100%;
}

.resultCards-content {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 125px);
}

.resultCards-content button {
    background: #5170FD;
    border-radius: 4px;
    color:white;
    text-align: center;
    padding: .75rem 2rem;
    min-width: 135px;
}
.resultCards-content button:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 3px 12px 0 rgba(0, 0, 0, 0.1);
}


/* Modals */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    /* transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; */
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    /* transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; */
    z-index: 10;
}

.slide-content {
    max-width: 600px;
    width: 100%;
    max-height: 500px;
    position: absolute;
    top: 45%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fdfeff;
    border-radius: 10px;
}

.slide-content.Infocontainer {
    background-position: bottom;
    background-image:url('/laundry-washly-master/img/Info.png');
    font-size:14px;
}
.container-image{
    background-image:url('/laundry-washly-master/img/L1.png');
    background-repeat: no-repeat;
    width:100%;
    max-width:600px;
    height:180px;
    background-position: 50% 50%;
    background-size: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .bottom-container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    position: relative;
    height:100%;
    max-height:90px;
    margin: 0rem 2rem;
    padding: 0 2rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    z-index:100;
    background:white;
    
  }
  .reviewName{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .reviewStars{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      max-width:200px;
  }
  
  .info-name{
    position:absolute;
    top:0;
    left:25%;
    width:100%;
    max-width:300px;
    height:30px;
    text-align:center;
    background: rgba(255, 255, 255,0.9);
    border-radius: 4px;
    z-index:100;
    padding-top: 8px;
  }
  .info-container-name{
      font-size:12px;
  }
  .middle-container{
      text-align:center;
  }
  .middle-container>a{
      color:#5170FD;
      text-decoration: none;
      font-size:14px;
  }
  .middle-container>a:hover{
      text-decoration: underline;
  }
  .middle-container>span{
      font-size:14px;
  }
  
.slide-content.bookingContainer {
    background-image: url("/laundry-washly-master/img/grouped.png");
    background-position: bottom;
}

.slide-content.delivery-container {
    background-position: bottom;
    background-image: url("/laundry-washly-master/img/delivery.png");
}

.slide-content.summaryContainer{
    background-image:url("/laundry-washly-master/img/summary.png");
    background-size: cover;
}


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {

  font-size: 18px;
  width: 60%;
  z-index:30;
}

.modal-one {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index:10;
}

.close-btn{
  float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.modal-two{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index:11;
}
.open-up-modal{
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.closebtn{
  float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.modal-three{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index:11;
}
.open-custom{
  opacity: 1;
  visibility: visible;
}
 .secondcustombutton{
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

/* //Dropdown Styling */
/*Styling Selectbox*/
.filter-search {
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.filter-search input {
    padding: 0 1rem;
    border: none;
    outline: none;
    border-radius: 0;
    margin: 2px;
    width: calc(100% - 90px);
    min-height: 35px;
}
.filter-button{
    background: #5170FD;
    border-radius: 4px;
    color:white;
    text-align: center;
    padding: .75rem 2rem;
    min-width: 135px;
    margin-top: 2rem;
} 
.filter-button:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 3px 12px 0 rgba(0, 0, 0, 0.1);
}

.dropdown {
    height: 100%;
    width: 90px;
    display: inline-block;
    margin: 2px;
    background-color: #fff;
    transition: all .5s ease;
    position: relative;
    text-align: center;
    border-right:none;
    }
    .dropdown .select {
        cursor: pointer;
        display: block;
        padding: 5px 11px
    }
    .dropdown .select > i {
        font-size: 13px;
        color: #888;
        cursor: pointer;
        transition: all .3s ease-in-out;
        float: right;
        line-height: 20px
    }
    
    .dropdown:active {
        background-color: #f8f8f8;
        border-bottom-left-radius: 0px;
    }
    .dropdown.active:hover,
    .dropdown.active {
    border-top-left-radius: 5px;
        background-color:  rgba(196, 196, 196, 0.1);
        border-right:none;
        border-bottom:none;
        border-bottom-left-radius:0px;
    }
    .dropdown.active .select > i {
        transform: rotate(90deg)
    }
    .dropdown .dropdown-menu {
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
        margin-top: 0px;
        box-shadow: 0 1px 2px rgb(204, 204, 204);
        border-radius: 0 0px 5px 5px;
        overflow: hidden;
        display: none;
        max-height: 144px;
        overflow-y: auto;
        z-index: 9
    }
    .dropdown .dropdown-menu li {
        padding: 5px;
        transition: all .2s ease-in-out;
        cursor: pointer
    } 
    .dropdown .dropdown-menu {
        padding: 0;
        list-style: none
    }
    .dropdown .dropdown-menu li:hover {
        background-color: #aee1fc;
    }
    .dropdown .dropdown-menu li:active {
        background-color: #e2e2e2
    }
    
    /* Book Please */
    .dropdowns {
    display: inline-block;
    transition: all .5s ease;
    position: relative;
    color: #474747;
    text-align: center;
    border-right:none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    background:white;
    border-radius: 7px;
    width: 280px;
    height:40px;
    border:none;
    outline:none;
    font-size:16px;
    margin-top: 19px;
    margin-left:1px;
    }
    .dropdowns .selects {
        cursor: pointer;
        display: block;
        padding: 11px
    }
    .dropdowns .selects > i {
        font-size: 13px;
        color: #888;
        cursor: pointer;
        transition: all .3s ease-in-out;
        float: right;
        line-height: 20px
    }
    
    .dropdowns:active {
        background-color: #f8f8f8;
        border-bottom-left-radius: 0px;
    }
    .dropdowns.active:hover,
    .dropdowns.active {
    border-top-left-radius: 5px;
        background-color:  white;
        border-right:none;
        border-bottom:none;
        border-bottom-left-radius:0px;
    }
    .dropdowns.active .selects > i {
        transform: rotate(90deg)
    }
    .dropdowns .dropdown-menus {
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
        margin-top: 0px;
        box-shadow: 0 1px 2px rgb(204, 204, 204);
        border-radius: 0 0px 5px 5px;
        overflow: hidden;
        display: none;
        max-height: 144px;
        overflow-y: auto;
        z-index: 9
    }
    .dropdowns .dropdown-menus li {
        padding: 5px;
        transition: all .2s ease-in-out;
        cursor: pointer
    } 
    .dropdowns .dropdown-menus {
        padding: 0;
        list-style: none
    }
    .dropdowns .dropdown-menus li:hover {
        background-color: rgba(96,171,251,0.2);
    }
    .dropdowns .dropdown-menus li:active {
        background-color: #e2e2e2
    }
    /* Custom Order */
    .dropdowns1 {
    display: inline-block;
    transition: all .5s ease;
    position: relative;
    color: #474747;
    text-align: center;
    border-right:none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    background:white;
    border-radius: 4px;
    width: 250px;
    height:40px;
    border:none;
    outline:none;
    font-size:16px;
    margin-top: 19px;
    margin-left:1px;
    }
    .dropdowns1 .selects1 {
        cursor: pointer;
        display: block;
        padding: 11px
    }
    .dropdowns1 .selects1 > i {
        font-size: 13px;
        color: #888;
        cursor: pointer;
        transition: all .3s ease-in-out;
        float: right;
        line-height: 20px
    }
    
    .dropdowns1:active {
        background-color: #f8f8f8;
        border-bottom-left-radius: 0px;
    }
    .dropdowns1.active:hover,
    .dropdowns1.active {
    border-top-left-radius: 5px;
        background-color:  white;
        border-right:none;
        border-bottom:none;
        border-bottom-left-radius:0px;
    }
    .dropdowns1.active .selects1 > i {
        transform: rotate(90deg)
    }
    .dropdowns1 .dropdown-menus1 {
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
        margin-top: 0px;
        box-shadow: 0 1px 2px rgb(204, 204, 204);
        border-radius: 0 0px 5px 5px;
        overflow: hidden;
        display: none;
        max-height: 144px;
        overflow-y: auto;
        z-index: 9
    }
    .dropdowns1 .dropdown-menus1 li {
        padding: 5px;
        transition: all .2s ease-in-out;
        cursor: pointer
    } 
    .dropdowns1 .dropdown-menus1 {
        padding: 0;
        list-style: none
    }
    .dropdowns1 .dropdown-menus1 li:hover {
        background-color: rgba(96,171,251,0.2);
    }
    .dropdowns1 .dropdown-menus1 li:active {
        background-color: #e2e2e2
    }


